<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<footer>
  <div class="footer-copyright">
    <div class="container">
      © 2022 RomanPeredrii
      <a
        class="grey-text text-lighten-3"
        href="https://github.com/RomanPeredrii/FFDB"
        target="blank"
      >
        <img
          src="https://logos-world.net/wp-content/uploads/2020/11/GitHub-Emblem-700x394.png"
          width="70 rem"
          height="40 rem"
          alt="GitHub"
        />
      </a>
    </div>
  </div>
</footer>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/app.js"></script>