<li class="input-date">
    <input id="dateFrom" type="text" class="datepicker">
</li>
<li class="input-date">
    <input id="dateTo" type="text" class="datepicker">
</li >
<li title="add container manualy">
    <a href="/containers/form">
        <i class="large material-icons" "dropdown-trigger">youtube_searched_for</i>
    </a>
</li>
<li class="active" title="to containers">
        <a href="/containers">
    <i class="material-icons">view_module</i>
    </a>
</li>
<li title="make daily prospect">
        <a href="/containers/planning">
    <i class="material-icons">note</i>
    </a>
</li>
<li title="drivers">
        <a href="/drivers">
    <b>Dr</b> 
    </a>
</li>  
<li title="vessels">
        <a href="/vessels">
    <b>Ves</b> 
    </a>
</li> 
<li title="add from *.xlsx, *.xls file">
    <form action="/add-many" enctype="multipart/form-data">          
        <label for="add-containers-from-table">
            <input id="add-containers-from-table" type="file" accept=".xlsx, .xls" hidden enctype="multipart/form-data">
            <a type="file" class="">
                <i class="material-icons">file_download</i>
            </a>
        </label>
    </form>
</li>

<li title="add container manualy">
    <a href="/add">
        <i class="large material-icons" "dropdown-trigger">add</i>
    </a>
</li>
<li title="trash">
    <a href="/containers/trash">
        <i class="large material-icons" "dropdown-trigger">delete_forever</i>
    </a>
</li>

