<div class="navbar-fixed">  
  <nav>
    <div class="nav-wrapper">
      <li class="brand-logo"><i class="material-icons">cloud</i>{{place}}</li>      
      <ul class="right hide-on-med-and-down">
        {{#if isAdd}}
        {{>navButtonsForAdd}}
        {{>activeUser}}
        {{/if}}
        {{#if isContainers}} 
        {{>navButtonsForContainers}}
        {{>activeUser}}
        {{/if}}
        {{#if IsEdit}}
        {{>navButtonsForEdit}}
        {{>activeUser}}
        {{/if}}
        {{#if isAdmin}}
        {{>navButtonsForAdmin}}
        {{>activeUser}}
        {{/if}}
      </ul>
    </div>
  </nav>  
</div>