<li class="active" title="edit container ">
    <a href="#!">
        <i class="large material-icons dropdown-trigger">edit</i>
    </a>
</li>
<li title="to containers, discard entered data">
        <a href="/containers">
    <i class="material-icons">view_module</i>
    </a>
</li>

