<li class="active" title="add new user">
    <a href="#!">
        <i class="large material-icons dropdown-trigger">person_add</i>
    </a>
</li>
<li title="change existing user">
    <a href="#!">
        <i class="large material-icons dropdown-trigger">person</i>
    </a>
</li>
<li title="to containers, discard entered data">
        <a href="/containers">
    <i class="material-icons">view_module</i>
    </a>
</li>
