<title>{{container.number}}</title>
<body>
    <div class="container">
        <h1>{{container.number}}</h1>
        <h1>{{container.size}}</h1>
        <h1>{{container.status}}</h1>
    </div>

   
</body>
