<h1>HERE ENTERPOINT</h1>
<form action="/auth/login" method="POST">
    <div class="input-field">
        <input id="login" name="login" type="text" class="validate" required>
        <label for="login">Login</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <div class="input-field">
       <input id="password" name="password" type="text" class="validate" required> 
       <label for="password">Password</label>
       <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>
    <button class="btn btn-primary" type="submit">Enter</button>
</form>